.contacts {
  margin-bottom: 50px;
}

.contacts__title {
    font-family: @playfairdisplay;
  font-size: 24px;
  font-style: normal;
  text-align: center;

  margin: 0;
  margin-top: 32px;
}

.contacts__subtitle {
  font-family: @introscript;
  font-size: 22px;
  font-style: normal;
  text-align: left;

  margin: 0;
  margin-top: 6px;
}


.contacts-form__form-description {
  font-family: @circe;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  text-align: left;

  margin: 0;
  margin-top: 6px;
}

input[type="text"],
input[type="email"] {
  width: 96%;
  height: 47px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 9px;
  margin-top: 10px;
}

textarea {
  width: 96%;
  min-height: 108px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-top: 12px;
  padding-left: 9px;
  margin-top: 10px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  font-family: @circe;
  font-size: 14px;
  opacity: 0.8;
}

.contacts-form button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 65%;
  height: 50px;

  font-family: @circe;
  font-size: 19px;
  line-height: 26px;

  color: @white;
  background-color: @red;

  border-radius: 25px;
  border: none;
  outline: none;

  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__phone {
  font-family: @circe;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;

  margin: 0;
  margin-top: 27px;
}

.contacts__phone a {
  display: block;
  font-family: @circe;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;

  margin: 0;
  margin-top: -4px;
}

.contacts__email {
  font-family: @circe;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;

  margin: 0;
  margin-top: 14px;
}

.contacts__email a {
  font-family: @circe;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  margin: 0;
}

.contacts__social {
  font-family: @circe;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;

  margin: 0;
  margin-top: 13px;
}

.contacts__social-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  margin-top: 10px;
}

.contacts__social-item {
  width: 63px;
  height: 63px;
  background-color: @white;
  border-radius: 50%;

  margin-right: 30px;

  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &--instagram::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 33px;
    top: 16px;
    left: 17px;
    background-image: url("/img/icon-instagram.svg");
    background-repeat: no-repeat;
  }

  &--vk::before {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    top: 11px;
    left: 12px;
    background-image: url("/img/icon-vk.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .contacts__form-block {
    outline: 1px solid green;
  }

  .contacts__info-block {
    outline: 1px solid blue;
  }
}
