.individual-order {
    background-color: @rose;
}

.individual-order__title {
  width: 90%;
  font-family: @playfairdisplay;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;

  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  padding-top: 42px;
}

.individual-order__subtitle {
  font-family: @introscript;
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.4px;

  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .individual-order__title {
    width: 100%;
    font-size: 28px;
    line-height: 60px;

    margin-bottom: 0;
    padding-top: 41px;
  }


.individual-order__subtitle {
  font-family: @introscript;
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  text-align: center;

  margin: 0;
  margin-top: -3px;
  margin-bottom: 30px;
  }

  .individual-order__stuffing {
    margin-bottom: 20px;
    min-height: 350px;
  }
}


@media (min-width: @desktop-width) {
  .individual-order__title {
    font-size: 40px;
    line-height: 65px;

    margin-bottom: 0;
    padding-top: 89px;
  }


.individual-order__subtitle {
  font-size: 35px;

  margin: 0;
  margin-top: 5px;
  margin-bottom: 50px;
  }
}
