.individual-order {
    background-color: @rose;
}

.individual-order__title {
  width: 200px;
  font-family: @playfairdisplay;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: center;

  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  padding-top: 44px;
}

.individual-order__subtitle {
  font-family: @introscript;
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  text-align: center;

  margin: 0;
  margin-bottom: 18px;
  padding: 0;
}

.individual-order__stuffing {
  background-color: @white;
  margin-bottom: 10px;
  min-height: 430px;

  &--last {
    margin-bottom: 0;
  }
}

.test {
  background-color: red;
  min-height: 370px;
}
