.menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list__item {
  box-sizing: border-box;
  font-family: @circe;
  font-size: 16px;
  font-weight: 400;
  color: @dark-grey;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @light-grey;
  text-align: center;

  border-top: 1px solid @grey;

  padding-top: 10px;
  padding-bottom: 10px;

  &:first-child {
    border-top: none;
  }
}

.menu-list__item a {
  text-decoration: none;
  width: 100%;
  display: block;
}

@media (min-width: @desktop-width) {
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
    margin-left: 3.5%;
  }

  .menu-list__item {
    background-color: transparent;
    color: @dark;
    font-size: 13px;
    border: none;

    margin-right: 43px;
  }

  .menu-list__item a {

    &:hover {
      color: @red;
    }
  }
}
