@font-face {
  font-family: "Playfairdisplay";
  src: url("../fonts/playfair/playfairdisplay-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfairdisplay";
  src: url("../fonts/playfair/playfairdisplay-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfairdisplay";
  src: url("../fonts/playfair/playfairdisplay-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Playfairdisplay";
  src: url("../fonts/playfair/playfairdisplay-bolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/circe/circe-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/circe/circe-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IntroScript";
  src: url("../fonts/introscript/IntroScriptR-H2Base.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fbebea;
}
.visually-hidden {
  font-size: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
/*Шрифты*/
/*Цвета*/
/*Ширина устройства*/
/*Ретина*/
.wrapper--adventege {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: 1px solid red;
}
.wrapper--our-cake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
.wrapper--individual-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
.wrapper--responses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
.wrapper--about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  outline: 1px solid blue;
  background-color: lightblue;
}
.wrapper--how-to-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
.wrapper--contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}
.wrapper--footer {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .wrapper--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1220px) {
  .wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    outline: 1px solid red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper--adventege {
    padding: 0;
  }
  .wrapper--footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header {
  background-color: #ffffff;
}
.header-logo {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 8px;
}
.header-phone {
  display: none;
}
@media (min-width: 768px) {
  .header-logo {
    margin-left: 45px;
    margin-top: 22px;
    margin-bottom: 17px;
  }
}
@media (min-width: 1220px) {
  header {
    background-color: #fbebea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: 1px solid red;
    padding-top: 50px;
  }
  .header-logo {
    margin-top: 11px;
    margin-left: 150px;
  }
  .header-phone {
    font-family: "Circe", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #2d2829;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-left: 15.8%;
    margin-top: 6px;
  }
  .header-phone:hover {
    color: #f50049;
  }
}
.main-navigation {
  padding: 0;
  position: relative;
}
.main-navigation__toggle {
  position: absolute;
  content: "";
  top: -30px;
  right: 14px;
  border: none;
  outline: 1px solid red;
  background-color: transparent;
  height: 20px;
}
.main-navigation__toggle span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: black;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.main-navigation__toggle span::before,
.main-navigation__toggle span::after {
  display: block;
  width: 18px;
  height: 2px;
  background-color: black;
  content: "";
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.main-navigation__toggle span::before {
  -webkit-transform: translate(0, 6px);
          transform: translate(0, 6px);
}
.main-navigation__toggle span::after {
  -webkit-transform: translate(0, -8px);
          transform: translate(0, -8px);
}
.main-navigation__toggle--opened span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: transparent;
}
.main-navigation__toggle--opened span::before {
  -webkit-transform: translate(0, 0) rotate(45deg);
          transform: translate(0, 0) rotate(45deg);
  background-color: #f50049;
}
.main-navigation__toggle--opened span::after {
  -webkit-transform: translate(0, -2px) rotate(-45deg);
          transform: translate(0, -2px) rotate(-45deg);
  background-color: #f50049;
}
.main-navigation--closed .menu-list__item {
  display: none;
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    top: -40px;
  }
  .main-navigation__toggle span {
    width: 26px;
    height: 3px;
  }
  .main-navigation__toggle span::before,
  .main-navigation__toggle span::after {
    width: 26px;
    height: 3px;
  }
  .main-navigation__toggle span::before {
    -webkit-transform: translate(0, 8px);
            transform: translate(0, 8px);
  }
  .main-navigation__toggle span::after {
    -webkit-transform: translate(0, -10.5px);
            transform: translate(0, -10.5px);
  }
  .main-navigation__toggle--opened span::before {
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
    background-color: #f50049;
  }
  .main-navigation__toggle--opened span::after {
    -webkit-transform: translate(0, -2px) rotate(-45deg);
            transform: translate(0, -2px) rotate(-45deg);
    background-color: #f50049;
  }
}
@media (min-width: 1220px) {
  .main-navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-navigation--closed .menu-list__item {
    display: block;
  }
  .main-navigation__toggle {
    display: none;
  }
  .header-phone {
    display: block;
  }
}
.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-list__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #383838;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #e7e7e7;
  text-align: center;
  border-top: 1px solid #dedede;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-list__item:first-child {
  border-top: none;
}
.menu-list__item a {
  text-decoration: none;
  width: 100%;
  display: block;
}
@media (min-width: 1220px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 6px;
    margin-left: 3.5%;
  }
  .menu-list__item {
    background-color: transparent;
    color: #2d2829;
    font-size: 13px;
    border: none;
    margin-right: 43px;
  }
  .menu-list__item a:hover {
    color: #f50049;
  }
}
.adventege {
  background-color: #fbebea;
  z-index: -1;
  background-image: url(/img/index-cake-background.png);
  background-repeat: no-repeat;
  background-position: center -40px;
  /*
  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 225px;
    top: -40px;
    left: center;
    background-image: url(/img/index-cake-background.png);
  }*/
}
.adventege__title {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 40px;
  line-height: 36px;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 0;
  padding-top: 127px;
  text-align: center;
  letter-spacing: 5px;
  z-index: 2;
}
.adventege__subtitle {
  font-family: "IntroScript", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 23px;
  padding: 0;
}
.adventege-list {
  width: 210px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
.adventege-list__item {
  font-family: "Circe", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-left: 8px;
  margin-bottom: 26px;
  position: relative;
}
.adventege-list__item:last-child {
  margin-bottom: 0;
}
.adventege-list__item--ingredients::before,
.adventege-list__item--delivery::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  top: 0;
  left: -42px;
}
.adventege-list__item--ingredients::before {
  background-image: url("/img/icon-ingredients.svg");
}
.adventege-list__item--delivery::before {
  background-image: url("/img/icon-delivery.svg");
}
.adventege__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 50px;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f50049;
  border-radius: 25px;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .adventege {
    background-image: url(/img/index-cake-background-tablet.png);
    background-position: right 13px;
    margin-bottom: 130px;
  }
  .adventege__title {
    font-size: 60px;
    line-height: 55px;
    text-align: left;
    margin-left: 6%;
    padding-top: 105px;
    letter-spacing: 5px;
  }
  .adventege__subtitle {
    font-size: 36px;
    line-height: 77,95;
    text-align: left;
    margin-left: 6%;
    margin-top: 23px;
  }
  .adventege-list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-left: 6.1%;
    margin-top: 150px;
  }
  .adventege-list__item {
    width: 33%;
    margin: 0;
    margin-top: 12px;
    margin-left: 68px;
  }
  .adventege-list__item:nth-child(2n) {
    margin-left: 55px;
  }
  .adventege-list__item:last-child {
    margin-right: 0;
  }
  .adventege-list__item--ingredients::before,
  .adventege-list__item--delivery::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 54px;
    top: -13px;
    left: -67px;
  }
  .adventege__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 51px;
    margin: 0;
    width: 29.5%;
    margin-left: 6.1%;
    margin-top: 33px;
  }
}
@media (min-width: 1220px) {
  .adventege {
    background-image: url(/img/index-cake-background-desktop.png);
    background-position: right 5px;
    min-height: 950px;
    margin-bottom: 0;
  }
  .adventege__title {
    font-size: 78px;
    line-height: 70px;
    text-align: left;
    margin-left: 0;
    padding-top: 133px;
    letter-spacing: 5px;
  }
  .adventege__subtitle {
    font-size: 40px;
    line-height: 77,95;
    text-align: left;
    margin-left: 0;
    margin-top: 27px;
  }
  .adventege-list {
    width: 65%;
    margin: 0;
    margin-top: 130px;
    margin-left: 68px;
  }
  .adventege-list__item {
    width: 20%;
    margin: 0;
    margin-top: 12px;
    margin-right: 10px;
  }
  .adventege-list__item:nth-child(2n) {
    margin-left: 55px;
  }
  .adventege-list__item--delivery::before {
    left: -70px;
  }
  .adventege__button {
    width: 225px;
    height: 51px;
    margin: 0;
    margin-left: 0;
    margin-top: 40px;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
    cursor: pointer;
    /*&:hover {
      background-color: @white;
      border-radius: 0;
      border: 2px solid @red;
      color: @red;
      transition-duration: 0.7s;
    }*/
  }
}
.our-cake__title {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  padding-top: 28px;
}
.our-cake-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 6px;
}
.our-cake-list__item {
  position: relative;
  margin: 0;
}
.our-cake__cake-type {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  position: absolute;
  content: "";
  top: -5px;
  left: 10px;
}
.our-cake__value-view {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 12px;
  position: absolute;
  content: "";
  top: 16px;
  left: 12px;
}
@media (min-width: 768px) {
  .our-cake__title {
    font-size: 28px;
    line-height: 39px;
    padding-top: 15px;
    margin-right: 75.5%;
  }
  .our-cake-list {
    display: grid;
    grid-template-columns: 220px 220px 288px;
    grid-template-rows: 184px 184px 184px 184px;
    grid-row-gap: 20px;
  }
  .our-cake-list__item--classic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .our-cake-list__item--classic::before {
    position: absolute;
    content: "Смотреть";
    bottom: 7px;
    right: -125px;
    font-family: "Circe", "Arial", sans-serif;
    font-size: 11px;
    line-height: 43px;
  }
  .our-cake-list__item--muss {
    grid-column-start: 23;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .our-cake-list__item--wending {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .our-cake-list__item--man {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .our-cake-list__item--woman {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .our-cake-list__item--kids {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    margin-left: 40%;
  }
  .our-cake__cake-type {
    font-family: "Circe", "Arial", sans-serif;
    font-size: 14px;
    line-height: 43px;
    top: -8px;
    left: 24px;
  }
  .our-cake__cake-type--muss {
    top: -10px;
    left: 24px;
  }
  .our-cake__cake-type--wending {
    top: -6px;
    left: 26px;
  }
  .our-cake__cake-type--man,
  .our-cake__cake-type--woman {
    top: 0;
    left: 24px;
  }
  .our-cake__cake-type--kids {
    top: 0;
    left: 30px;
  }
  .our-cake__value-view {
    font-family: "Circe", "Arial", sans-serif;
    font-size: 12px;
    line-height: 43px;
    top: 10px;
    left: 26px;
  }
  .our-cake__value-view--muss {
    top: 8px;
    left: 26px;
  }
  .our-cake__value-view--wending {
    top: 10px;
    left: 26px;
  }
  .our-cake__value-view--man {
    top: 16px;
    left: 26px;
  }
  .our-cake__value-view--woman {
    top: 18px;
    left: 26px;
  }
  .our-cake__value-view--kids {
    top: 18px;
    left: 30px;
  }
}
@media (min-width: 1220px) {
  .our-cake {
    margin-top: -92px;
  }
  .our-cake__title {
    font-size: 40px;
    line-height: 65px;
    padding-top: 15px;
    margin-right: 79%;
    margin-bottom: 55px;
  }
  .our-cake-list {
    grid-row-gap: 42px;
    grid-template-columns: 368px 368px 484px;
    grid-template-rows: 305px 305px 305px 305px;
  }
  .our-cake-list__item::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("/img/icon-arrow.svg");
    bottom: 36px;
    right: 68px;
  }
  .our-cake-list__item--man::after,
  .our-cake-list__item--woman::after {
    bottom: 34px;
    right: -48px;
  }
  .our-cake-list__item--classic::after {
    bottom: 38px;
    right: -255px;
  }
  .our-cake-list__item--kids::after {
    bottom: -310px;
    right: -413px;
  }
  .our-cake-list__item--classic::before {
    font-size: 20px;
    line-height: 73px;
    bottom: 9px;
    right: -215px;
  }
  .our-cake-list__item--kids {
    margin-left: 42.5%;
  }
  .our-cake__cake-type {
    font-size: 24px;
    line-height: 74px;
    top: -12px;
    left: 44px;
  }
  .our-cake__cake-type--muss {
    top: -17px;
    left: 48px;
  }
  .our-cake__cake-type--wending {
    top: -14px;
    left: 48px;
  }
  .our-cake__cake-type--man {
    top: -12px;
    left: 44px;
  }
  .our-cake__cake-type--woman {
    top: -13px;
    left: 45px;
  }
  .our-cake__cake-type--kids {
    top: -11px;
    left: 45px;
  }
  .our-cake__value-view {
    font-size: 20px;
    line-height: 73px;
    top: 19px;
    left: 45px;
  }
  .our-cake__value-view--muss {
    top: 14px;
    left: 49px;
  }
  .our-cake__value-view--wending {
    top: 14px;
    left: 49px;
  }
  .our-cake__value-view--man {
    top: 18px;
    left: 47px;
  }
  .our-cake__value-view--woman {
    top: 18px;
    left: 47px;
  }
  .our-cake__value-view--kids {
    top: 20px;
    left: 45px;
  }
}
.individual-order {
  background-color: #fbebea;
}
.individual-order__title {
  width: 90%;
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  padding-top: 42px;
}
.individual-order__subtitle {
  font-family: "IntroScript", "Arial", sans-serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.4px;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}
.individual-order__stuffing-block,
.individual-order__size-block {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 10px;
  min-height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.individual-order__stuffing-block--last,
.individual-order__size-block--last {
  margin-bottom: 0;
}
.individual-order__stuffing-title,
.individual-order__size-title {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 12px;
  color: #f50049;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 21px;
}
.individual-order__size-title {
  margin-left: -100px;
  margin-bottom: 50px;
}
.individual-order__stuffing-subtitle {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #2f2f2f;
  margin: 0;
  margin-top: 35px;
  margin-left: -100px;
}
.individual-order__stuffing-description {
  width: 90%;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: #2f2f2f;
  margin: 0;
  margin-top: 2px;
  margin-left: 10px;
}
.individual-order__stuffing-price {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #2f2f2f;
  margin: 0;
  margin-top: 10px;
}
.individual-order__size-diameter {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #2f2f2f;
  margin: 0;
  margin-top: 65px;
}
.individual-order__size-portion {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #2f2f2f;
  margin: 0;
}
.individual-order__stuffing-button,
.individual-order__size-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63.5%;
  height: 51px;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f50049;
  border: none;
  border-radius: 25px;
  margin-top: 22px;
}
.individual-order__size-button {
  margin-top: 53px;
}
.test {
  background-color: red;
  min-height: 370px;
}
@media (min-width: 768px) {
  .individual-order__title {
    width: 100%;
    font-size: 28px;
    line-height: 60px;
    margin-bottom: 0;
    padding-top: 41px;
  }
  .individual-order__subtitle {
    font-family: "IntroScript", "Arial", sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 0;
    margin-top: -3px;
    margin-bottom: 30px;
  }
  .individual-order__stuffing {
    margin-bottom: 20px;
    min-height: 350px;
  }
}
.responses-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.responses__title {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 65px;
  text-align: center;
  margin: 0;
  margin-top: 23px;
}
.response {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.response__name {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.response__info {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 0;
  margin-top: -6px;
  margin-bottom: 8px;
}
.response__text {
  width: 85%;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin: 0;
}
.about-us {
  margin-top: 60px;
}
.about-us__title {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  margin: 0;
}
.about-us__social-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 19px;
}
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 35px;
}
.social-list__item {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 16px;
  position: relative;
}
.social-list__item::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 9px;
  width: 18px;
  height: 18px;
}
.social-list__item--instagram::after {
  background-image: url("/img/icon-instagram.svg");
  background-repeat: no-repeat;
}
.social-list__item--vk::after {
  width: 20px;
  height: 20px;
  top: 10px;
  left: 8px;
  background-image: url("/img/icon-vk.svg");
  background-repeat: no-repeat;
}
.social-list__item--twitter::after {
  width: 18px;
  height: 18px;
  top: 10px;
  left: 8px;
  background-image: url("/img/icon-twitter.svg");
  background-repeat: no-repeat;
}
.about-us__description-block {
  margin-top: 13px;
  outline: 1px solid red;
}
.about-us__description-block h3 {
  font-family: "IntroScript", "Arial", sans-serif;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 4px;
}
.first-block p {
  width: 101%;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-top: 9px;
}
.second-block p {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16.5px;
  margin: 0;
}
.about-us__subtitle {
  display: inline-block;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 0;
}
.second-block .about-us__subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
}
.about-us__description-block blockquote {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: 0;
  margin-top: 75px;
  padding-bottom: 75px;
  position: relative;
}
.about-us__description-block blockquote::before {
  position: absolute;
  content: "’’";
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 60px;
  line-height: 87px;
  color: #ffffff;
  top: -56px;
  left: 116px;
}
.about-us__description-block blockquote::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 31px;
  top: 80px;
  left: 105px;
  background-image: url("/img/painting.png");
}
.advantages__title {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-style: normal;
  text-align: center;
  margin: 0;
  margin-top: 14px;
}
.advantages__subtitle {
  font-family: "IntroScript", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  margin: 0;
  margin-top: 2px;
}
.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 12px;
}
.advantages-list__item {
  outline: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages-list__item-title {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  position: relative;
}
.advantages-list__item-title--natural {
  padding-top: 80px;
  margin-left: -13px;
}
.advantages-list__item-title--natural::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 12px;
  left: 77px;
  background-image: url("/img/icon-natural-product.svg");
  background-repeat: no-repeat;
}
.advantages-list__item-title--fresh {
  padding-top: 72px;
  margin-left: -13px;
}
.advantages-list__item-title--fresh::before {
  position: absolute;
  content: "";
  width: 145px;
  height: 60px;
  top: 10px;
  left: 90px;
  background-image: url("/img/icon-fresh.svg");
  background-repeat: no-repeat;
}
.advantages-list__item-subtitle {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 15px;
  font-style: normal;
  text-align: center;
  margin: 0;
}
.advantages-list__item-subtitle--natural {
  width: 95%;
}
.advantages-list__item-subtitle--fresh {
  width: 85%;
}
.care__title {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-style: normal;
  margin: 0;
  margin-top: 50px;
  margin-left: -60px;
}
.care__subtitle {
  font-family: "IntroScript", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  margin: 0;
  margin-top: 4px;
  margin-left: -155px;
}
.care__description {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  margin: 0;
  margin-top: -4px;
}
.how-to-order {
  background-color: #e3353d;
  min-height: 482px;
  background-image: url("/img/box-mobile.png");
  background-repeat: no-repeat;
  background-position: 52% bottom;
}
.how-to-order__title {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 32px;
}
.how-to-order-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
.how-to-order-list__item {
  position: relative;
  margin-left: 40px;
}
.how-to-order-list__item::before {
  position: absolute;
  content: "1";
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 35px;
  color: #ffffff;
  top: -15px;
  left: -20px;
}
.how-to-order-list__item--term::before {
  content: "1";
}
.how-to-order-list__item--delivery-city::before {
  content: "2";
  top: -16px;
  left: -22px;
}
.how-to-order-list__item--delivery-countryside::before {
  content: "3";
  top: -19px;
  left: -21px;
}
.how-to-order-list__title {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #ffffff;
  margin: 0;
  margin-top: 12px;
  margin-left: 8px;
}
.how-to-order-list__description {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #ffffff;
  margin: 0;
  margin-left: 8px;
}
.contacts {
  margin-bottom: 50px;
}
.contacts__title {
  font-family: "Playfairdisplay", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  margin: 0;
  margin-top: 32px;
}
.contacts__subtitle {
  font-family: "IntroScript", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  text-align: left;
  margin: 0;
  margin-top: 6px;
}
.contacts-form__form-description {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  text-align: left;
  margin: 0;
  margin-top: 6px;
}
input[type="text"],
input[type="email"] {
  width: 96%;
  height: 47px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 9px;
  margin-top: 10px;
}
textarea {
  width: 96%;
  min-height: 108px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-top: 12px;
  padding-left: 9px;
  margin-top: 10px;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  opacity: 0.8;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  opacity: 0.8;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  opacity: 0.8;
}
input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  opacity: 0.8;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  opacity: 0.8;
}
.contacts-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  height: 50px;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 19px;
  line-height: 26px;
  color: #ffffff;
  background-color: #f50049;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.contacts__phone {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin: 0;
  margin-top: 27px;
}
.contacts__phone a {
  display: block;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  margin: 0;
  margin-top: -4px;
}
.contacts__email {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin: 0;
  margin-top: 14px;
}
.contacts__email a {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  margin: 0;
}
.contacts__social {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin: 0;
  margin-top: 13px;
}
.contacts__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.contacts__social-item {
  width: 63px;
  height: 63px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
}
.contacts__social-item:last-child {
  margin-right: 0;
}
.contacts__social-item--instagram::before {
  position: absolute;
  content: "";
  width: 34px;
  height: 33px;
  top: 16px;
  left: 17px;
  background-image: url("/img/icon-instagram.svg");
  background-repeat: no-repeat;
}
.contacts__social-item--vk::before {
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  top: 11px;
  left: 12px;
  background-image: url("/img/icon-vk.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .contacts__form-block {
    outline: 1px solid green;
  }
  .contacts__info-block {
    outline: 1px solid blue;
  }
}
footer {
  background-color: #898989;
}
.footer__logo {
  margin-top: 45px;
}
.footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-navigation__item {
  margin-top: 14px;
}
.footer-navigation__link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}
.footer-navigation__link:active {
  opacity: 0.5;
}
.footer__phone {
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
  margin-top: 13px;
}
.footer__second-line {
  position: relative;
}
.footer__second-line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 53px;
  left: 0;
  background-color: #959595;
}
.footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 27px;
  margin-bottom: 15px;
}
.footer__social-item {
  width: 32px;
  height: 32px;
  margin-right: 9px;
}
.footer__social-item:last-child {
  margin-top: -5px;
}
.footer__copyright {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.8px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.5;
  margin: 0;
  margin-top: 28px;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .footer__first-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .footer__logo {
    margin-top: 35px;
  }
  .footer-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 35px;
    margin-left: 60px;
  }
  .footer-navigation__item {
    margin-top: 0;
    margin-right: 39px;
  }
  .footer-navigation__item:last-child {
    margin-right: 0;
  }
  .footer-navigation__link {
    font-size: 12px;
  }
  .footer__phone {
    display: none;
  }
  .footer__second-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__second-line::after {
    width: 88%;
    top: -14px;
    left: 45px;
  }
  .footer__social-list {
    margin: 0;
    margin-left: 4.5%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__copyright {
    margin: 0;
    margin-left: 36.8%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1220px) {
  .footer-navigation__link {
    font-family: "Circe", "Arial", sans-serif;
    font-size: 16px;
    color: #2d2829;
  }
  .footer-navigation__link:hover,
  .footer-navigation__link:focus {
    color: #ffffff;
  }
  .footer-navigation {
    margin-left: 163px;
  }
  .footer-navigation__item {
    margin-right: 47px;
  }
  .footer-navigation__item:last-child {
    margin-right: 0;
  }
  .footer__first-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .footer__second-line::after {
    width: 100%;
    top: -3px;
    left: 0;
  }
  .footer__social-list {
    display: none;
  }
  .footer__copyright {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
